.container {
    margin: 1rem 2rem 0.5rem 0;
}

.container h3 {
    display: flex;
    justify-content: space-between; /* Align title and icon on opposite ends */
    align-items: center; /* Vertically align title and icon */
    padding-bottom: 5px;
    border-bottom: 1px solid #D6D6D6;
    font-weight: 400;
}

.container h3:hover {
    color: #6F00FD;
}

.container p {
    font-weight: 400;
    line-height: 1.5;
    padding: 1rem;
}

.icon {
    display: flex; /* Make the icon align correctly with the title */
    margin-left: 12px; /* Add some space between the title and icon */
    transition: transform 0.3s ease;
    background-color: #F5F4FD;
    border-radius: 100%;
    padding: 0.35rem;
}

.features {
    grid-area: features;
    font-family: "JetBrains Mono", monospace;
    color: var(--grey);
    font-size: 0.65rem !important;
    grid-auto-flow: row dense;
}

.container .features {
    padding-left: 0rem;
}

.iconOpen {
    transform: rotate(45deg);
  }

.container p:nth-of-type(2) {
    padding-top: 0;
}

.caseCont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem 0;
    column-gap: 1rem;
    grid-template-areas: 
    "image case"
    "image description"
    "features results";
  
}

.caseImg {
    grid-area: image;
    object-fit: cover;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 1rem;
}

.case {
    grid-area: case;
}

.description {
    grid-area: description;
}

.results {
    grid-area: results;
}

.caseCont p:last-of-type {
    background-color: #F5F4FD;
    border-radius: 6px;
}

.caseCont p span {
    font-weight: 600;
}

@media only screen and (max-width: 1029px) {

    .container {
        margin: 1rem 0 1rem 0;
    }
    
    
}
@media only screen and (max-width: 750px) {

    .caseCont p:nth-of-type(2) {
        margin-top: 1rem;
    }
    

    .container h3:hover {
        color: inherit;
    }

    .caseCont {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }

    .caseCont img {
        margin-bottom: 2rem;
    }
    
}

@media only screen and (max-width: 440px) {
    .container p, .container .features {
        padding: 1rem 0.5rem;
    }

    .container h3 {
        font-weight: 400;
    }
  }