.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.fern {
    position: absolute;
    top: 0;
    right: 0;
}

.pothos {
    position: absolute;
    left: 0;
    bottom: 0;
}

.arrow {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 120px;
}

.headingCont {
    position: relative;
    margin-left: 100px;
}

.h1 {
    font-weight: 200;
    font-size: 3.5em;
    color: #192436;
    max-width: 600px;
}

.span {
    color: var(--medium);
    font-weight: 900;
}

@media only screen and (max-width: 750px) {

    .h1 {
        font-weight: 200;
        font-size: 2.5em;
        color: #192436;
        max-width: 450px;
    }

    .fern {
        width: 250px;  /* adjust the width as needed */
        height: auto;  /* to preserve aspect ratio */
      
    }
    
    .pothos {
        width: 150px;  /* adjust the width as needed */
        height: auto;  /* to preserve aspect ratio */
    }

    .headingCont {
        position: relative;
        margin: 0 2em;
        padding-top: 1em;
    }

    .arrow {
        position: relative;
        left: 70vw;
        top: 0;
        margin-top: 0px;
        width: 40px;
        height: auto;
    }

}