.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
}

.container .info {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
}

.info p:first-of-type {
  font-weight: 600;
  color: var(--black);
  margin-bottom: 5px;
}

.flowers {
    position: absolute;
    bottom: 0;
    right: 10vw;
}

.open {
    position: relative;
    padding-left: 25px;
    display: flex;
    align-items: center; /* Align text and dots vertically */
    height: 36px; /* Ensures proper alignment - adjust height as necessary */
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey);
}

.open:before {
    content: "";
    position: absolute; 
    display: block;
    left: -8px; /* Align the dot to the left */
    width: 24px;
    height: 24px;
    border-radius: 100%; /* Make it round */
    background-color: #2BD350; 
    animation: live-icon-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.open:after {
    content: '';
    position: absolute;
    left: 0; 
    width: 8px;
    height: 8px;
    background-color: #2BD350;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.3);
    animation: live-icon-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

.arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 145px;
    width: 40px;
}

.headingCont {
    position: relative;
    margin-top: -20px;
    z-index: 1;
  
}

.h1 {
    color: var(--black);
    max-width: 400px;
    margin-bottom: 2rem;
}

.container a {
    text-decoration: underline;
}

.span {
    text-decoration: line-through;
    color: #969696;
}

@keyframes live-icon-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes live-icon-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }


@keyframes draw {
    0% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
    }
  }
  
  .arrowPath {
    animation: draw 5s ease-out forwards;
    stroke: #C7C7C7;
    stroke-width: 10px;
    fill: none;
   
  }

  
@media only screen and (max-width: 1000px) {

    .flowers {
        right: 0;
    }
  }


@media only screen and (max-width: 900px) {

    .h1 {
        max-width: 450px;
    }

    .flowers {
        display: none;
    }

    .arrow {
        display: block;
        position: relative;
        left: 70vw;
        top: 0;
        margin-top: 0px;
        width: 40px;
        height: auto;
    }

}