.grid div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .grid div p {
    margin-bottom: 1rem;
    z-index: 1;
    color: var(--grey);
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    font-weight: 500;
  }

  .grid span {
    font-weight: 500;
    color: var(--middle);
    z-index: 1;
    font-size: 0.875rem;
  }

  .grid {
    position: relative; 
    padding: 3.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    width: 100vw !important;
    /*background-image: 
    linear-gradient(90deg,  rgba(240, 240, 240, 0.5) 1px, transparent 1px),
    linear-gradient(180deg, rgba(240, 240, 240, 0.5) 1px, transparent 1px);
  background-size: 20px 20px;*/
    z-index: 0;
  }

@media only screen and (max-width: 1029px) {

    .skillsCont {
        display: flex;
        flex-wrap: wrap;
        
      }
    
      .softSkills {
        margin-top: 5em !important;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "img softSkills"
        "img softSkills";
    }
    
    .softSkills section {
        display: flex;
        align-self: flex-end;
        flex-wrap: wrap;
        
    }
    
    .softSkills div span {
       display: block;
    }
    
}

@media only screen and (max-width: 500px) {

    .softSkillsImg  {
        width: 150px;
        height: auto;
      }
}