.skillsCont {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 1em 1em 2em 50px;
}

.skillsCont span {
    background-color: #abaeff46;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: var(--medium);
    font-weight: 300;
    font-size: 1.1em;
}

.softSkillsCont {
    grid-area: softSkills;
}

.softSkillsImg {
    grid-area: img;
}

.softSkills {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "img softSkills"
    "img softSkills";
    margin-top: 5em;

}

.softSkills div {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    
}

.softSkills div span {
   display: block;
   background-color: #c7c8e646;
   color: rgb(95, 93, 106);
   
}

@media only screen and (max-width: 1029px) {

    .skillsCont {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1em 0 1em;
      }
    
      .skillsCont span {
        font-size: 1em;
      }
    
      .softSkills {
        margin-top: 5em !important;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "img softSkills"
        "img softSkills";
    }
    
    .softSkills div {
        display: flex;
        align-self: flex-end;
        flex-wrap: wrap;
        
    }
    
    .softSkills div span {
       display: block;
    }
    
}

@media only screen and (max-width: 500px) {

    .skillsCont {
        margin: 1em;
      }

    .softSkillsImg  {
        width: 150px;
        height: auto;
      }
}