.grid {
    padding: 3.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background-size: 20px 20px; /* Size of the squares */
    background-image: 
      linear-gradient(to right, #F6F6F6 1px, transparent 1px),
      linear-gradient(to bottom, #F6F6F6 1px, transparent 1px);
  }
 
  .grid div {
    display: flex;
    flex-direction: column;
    gap: 6px;

  }
  
  .grid div p {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }

  .grid span {
    font-weight: 500;
    font-size: 0.875rem;
    color: #808080;
  }

.softSkillsCont {
    grid-area: softSkills;
}

.softSkillsImg {
    grid-area: img;
}

.softSkills {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "img softSkills"
    "img softSkills";
    margin-top: 5em;

}

.softSkills div {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    
}

.softSkills div span {
   display: block;
   background-color: #c7c8e646;
   color: rgb(95, 93, 106);
   
}

@media only screen and (max-width: 1029px) {

    .skillsCont {
        display: flex;
        flex-wrap: wrap;
        
      }
    
      .skillsCont span {
        font-size: 1em;
      }
    
      .softSkills {
        margin-top: 5em !important;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "img softSkills"
        "img softSkills";
    }
    
    .softSkills section {
        display: flex;
        align-self: flex-end;
        flex-wrap: wrap;
        
    }
    
    .softSkills div span {
       display: block;
    }
    
}

@media only screen and (max-width: 500px) {

    .skillsCont {
        
      }

    .softSkillsImg  {
        width: 150px;
        height: auto;
      }
}