
  .h2 {
    border: 1px solid blue;
    z-index: 2;
    position: absolute;
  }

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 100px;
  }
  
  .scrollContainer {
    position: relative;
    border: 1px solid red;
    display: flex;
    width: 400%;
    height: 100vh;
    
}

.imgParallaxContainer {
    border: 1px solid purple;
    width: 280px;
    height: 400px;
    margin-right: 500px;
    overflow: hidden;
}

.imgParallaxContainer img {
    width: 280px;
    height: 400px;
    object-fit: cover; /* use 'contain' if you don't want the image to be cropped */
}