.pageContent {
    margin-top: 5em;
}

.projects h2, .skills h2, .about h2 {
    padding-left: 1em;
}

.projects {
    grid-area: projects;
}

.projects span {
    display: block;
}

.skills {
    grid-area: skills;
}

.about {
    grid-area: about;
}

.footer {
    color: #738097;
    font-weight: 300;
    font-size: 0.9em;
    margin: 5em 0 3em 0;
    display: flex;
    justify-content: center;
    grid-area: footer;
}

.projects, .skills, .about {
    border-right: 1px solid #bfc4cbfb;

}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: calc(50vh - (70px * 2));
    display: grid;
    grid-template-rows: repeat(4, 70px);
    align-self: flex-start;
    justify-self: center;
}

.sidebar a {
    transition: transform 0.5s ease;
}

.sidebar a:hover {
    transform: translateY(-7px);
    transition: transform 0.3s ease;
}

.pageContent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 150px);
    row-gap: 0em;
    grid-template-areas: 
    "projects sidebar"
    "skills sidebar"
    "about sidebar"
    "footer footer";
}


.about p {
    margin: 1em 1em 2em 50px;
    max-width: 800px;
    color: #2d3a4e;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}

.about p span {
    font-weight: 600;
    color: var(--medium);
}

@media only screen and (max-width: 1029px) {

.projects h2, .skills h2, .about h2 {
    font-size: 2.5em;
    padding-left: inherit;
}

 .pageContent {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: 
    "projects"
    "skills"
    "about"
    "sidebar"
    "footer";
  }

  .sidebar {
    margin-top: 5em;
    margin-bottom: 0;
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    column-gap: 25px;
    align-items: flex-end;
    justify-self: center;
}

.sidebar a {
    transition: transform 0.3s ease;
}

.sidebar a:hover {
    transform: translateY(-7px);
    transition: transform 0.3s ease;
}

.projects, .skills, .about {
    border-right: none;  
    margin: 0 1em;
}

.about p {
    margin: 0;
    padding: 1em;
}

}

@media only screen and (max-width: 500px) {
    .projects h2, .skills h2, .about h2 {
        font-size: 2em;
        padding-left: inherit;
    }

    .footer {
        font-size: 12px;
    }

    .about p {
        margin: 0;
        padding: 0 1em;
    }

}