.skills {
    grid-area: skills;
}

.projects {
    grid-area: projects;
}

.caseStudies {
    grid-area: cases;
}

.projects h2 {
    padding-top: 47px;
}

.caseStudies h2 {
    padding-bottom: 0;
    padding-top: 32px;
}

.skills h2 {
    padding-top: 15px;
}

.projects span {
    display: block;
}

.collage {
    grid-area: collage;
}

.designs {
    grid-area: designs;
}

.designs h2 {
    padding-top: 47px;
}

.footer {
    color: #738097;
    font-weight: 400;
    font-size: 0.75rem;
    margin: 5em 0 3em 0;
    display: flex;
    justify-content: center;
    grid-area: footer;
}

.footer a {
    text-decoration: underline;
}

.projects, .caseStudies, .collage, .skills, .designs {
    border-right: 1px solid var(--light-grey);

}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: calc(50vh - (70px * 2));
    display: grid;
    grid-template-rows: repeat(4, 70px);
    align-self: flex-start;
    justify-self: center;
    margin-top: 2em;
}

.sidebar a {
    transition: transform 0.5s ease;
}

.sidebar a:hover {
    transform: translateY(-7px);
    transition: transform 0.3s ease;
}

.pageContent {
    margin-top: 5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 150px);
    row-gap: 0em;
    grid-template-areas: 
    "cases sidebar"
    "designs sidebar"
    "projects sidebar"
    "skills sidebar"
    "collage sidebar"
    "footer footer";
}

@media only screen and (max-width: 1078px) {

    .projects, .caseStudies, .skills, .designs {
        border-right: none;
    
    }

    .container {
        margin: 2rem 0 2rem 0;
        border: 1px solid blue;
    }

 .pageContent {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: 
    "cases"
    "designs"
    "projects"
    "skills"
    "collage"
    "sidebar"
    "footer";
  }

  .sidebar {
    margin-top: 5em;
    margin-bottom: 0;
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    column-gap: 25px;
    align-items: flex-end;
    justify-self: center;
}

.sidebar a {
    transition: transform 0.3s ease;
}

.sidebar a:hover {
    transform: translateY(-7px);
    transition: transform 0.3s ease;
 }

}

@media only screen and (max-width: 890px) { 
    .pageContent {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        font-size: 12px;
        font-weight: 500;
    }
}